---
layout: default
---

<div id="sliderWraper">
    <div id="featuredSlider" class="flexslider">
        <ul class="slides">
            <li>
                <img src="images/hp2.jpg" width="1600" height="1200" alt="" />
                <div class="featured-wraper container container-twelve">
                    <div class="featured-content seven columns">
                        <h1 class="featured-title">Quest'anno siamo al Politecnico!</h1>
                        <div class="featured-entry">
                            <p>Quest'anno il Linux Day Torino si terr&agrave; presso la Cittadella Politecnica che si trova tra <a href="venue.html">c.so Castelfidardo e via Boggio</a>.</p>
                        </div><!-- .featured-entry-->
                    </div><!-- .featured-content -->
                </div><!-- .featured-wraper -->
            </li>
            <li>
                <img src="images/hp1.jpg" width="1600" height="1200" alt="" />
                <div class="featured-wraper container container-twelve">
                    <div class="featured-content seven columns">
                        <h1 class="featured-title">Linux Installation Party</h1>
                        <div class="featured-entry">
                            <p>Vorresti passare a GNU/Linux ma non te la senti di farlo da solo o da sola? Porta il tuo PC: i volontari ti aiuteranno a installarlo e a personalizzarlo secondo le tue esigenze.</p>
                        </div><!-- .featured-entry-->
                    </div><!-- .featured-content -->
                </div><!-- .featured-wraper -->
            </li>
            <li>
                <img src="images/hp3.jpg" width="1600" height="1200" alt="" />
                <div class="featured-wraper container container-twelve">
                    <div class="featured-content seven columns">
                        <h1 class="featured-title">19 talk</h1>
                        <div class="featured-entry">
                            <p>22 speaker per 19 talk. Dai pi&ugrave; semplici ai pi&ugrave; avanzati. Che tu sia novizio o hacker, c'&egrave; pi&ugrave; di un talk che ti pu&ograve; interessare. <a href="schedule.html">Consulta il programma</a>.</p>
                        </div><!-- .featured-entry-->
                    </div><!-- .featured-content -->
                </div><!-- .featured-wraper -->
            </li>
        </ul>
    </div>
</div><!-- #sliderWraper -->

<div id="twitterWraper">
    <div class="container container-twelve">
        <div id="tweet" class="nine columns">
            <div class="tweetsWrapper">
                <!--
                <?php //include tweets
                    include 'twitter-connect.html';
                ?>
                -->
            </div>
        </div><!-- .nine -->
        <div id="topSocial" class="three columns">
            <ul>
                <li class="topTwitter"><a href="https://twitter.com/linuxdayitalia">Twitter</a></li>
                <li class="topFacebook"><a href="https://www.facebook.com/LinuxDayTorino">Facebook</a></li>
                <li class="topMail"><a href="http://linuxdaytorino.org/cgi-bin/mailman/listinfo/organizzazione">Mail</a></li>
            </ul>
        </div><!-- three -->
    </div><!-- .container -->
</div><!-- #twitterWraper -->

<div class="container container-twelve">

    {% include countdown.html %}

    <div id="speakers-wraper" class="container container-twelve">
        <div class="twelve columns">
            <div class=" container-box">
                <div class="container-box-inner">
                    <h2 class="heading center"><span>Gli speaker</span></h2>
                    <div id="speakers">
                        <div id="carousel" class="flexslider">
                            <ul class="slides">
                            {% jsonball speakers from file speakers.json %}
                            {% for speaker in speakers %}
                                <li>
                                    <a href="schedule.html#{{ speaker.id }}"><img src="images/speakers/{{ speaker.img }}" alt="{{ speaker.name }}" width="150" height="150" /></a>
                                    <div class="speaker-desc">
                                        <a href="schedule.html#{{ speaker.id }}">{{ speaker.name }}</a><br />
                                        <span class="small">{{ speaker.title }}</span>
                                    </div><!-- .speaker-desc -->
                                </li>
                            {% endfor %}
                            </ul>
                        </div><!-- .flexslider -->
                    </div><!-- #speakers -->
                </div><!-- .container-box.inner -->
            </div><!-- .container-box -->
            <div class="box-bottom bottom-full"></div>
        </div>
    </div><!-- #speakers-wraper -->

    <div class="eight columns">
        <div class="container-box">
            <div class="container-box-inner">
                <h2 class="heading"><span>Il Linux Day Torino 2013...</span></h2>
                <ul class="check">
                    <li>5 aule semi-tematiche</li>
                    <li><a href="schedule.html">19 talk di ogni tipo</a>: dalle nozioni base di Linux agli approfondimenti tecnici pi&ugrave; avanzati</li>
                    <li>Linux Install Party: porta il tuo PC, all'installazione pensiamo noi</li>
                    <li>40 volontari tra relatori, assistenti e tecnici a tua disposizione</li>
                    <li>Centinaia di visitatori ogni anno</li>
                    <li>Bonus: la <a target="_blank" href="http://gdgtorino.it/">Google Developers Group DevFest</a> dall'altra parte del corridoio!</li>
                </ul>
            </div><!-- .container-box-inner -->
        </div><!-- .container-box -->
        <div class="box-bottom bottom-main"></div>
    </div><!-- .eight -->

    <div class="four columns">
        <div class="container-box">
            <div class="container-box-inner">
                <h2 class="heading"><span>News</span></h2>
                <p>Segui <a href="http://linuxdayto.wordpress.com/">il nostro blog</a> per aggiornamenti dell'ultim'ora!</p>

                <script language="JavaScript" src="http://feed2js.org//feed2js.php?src=http%3A%2F%2Flinuxdayto.wordpress.com%2Ffeed%2F&num=5&date=y&targ=y&utf=y&html=p"  charset="UTF-8" type="text/javascript"></script>

                <noscript>
                    <a href="http://feed2js.org//feed2js.php?src=http%3A%2F%2Flinuxdayto.wordpress.com%2Ffeed%2F&num=5&date=y&targ=y&utf=y&html=y">View RSS feed</a>
                </noscript>
            </div><!-- .container-box-inner -->
        </div><!-- .container-box -->
        <div class="box-bottom bottom-sidebar"></div>
    </div><!-- .four -->

</div><!-- container -->
