---
layout: default
---

    <div id="page" class="container container-twelve clearfix">

        {% include countdown.html %}

        <div class="twelve columns">
        <div class="container-box">
        <div class="container-box-inner">

            <h1 class="heading"><span>Programma</span></h1>

            <div class="em-medium">
                <p>Il Linux Day Torino apre alle 14 e si conclude alle 18</p>
                <p><img width="100%" height="100%" src="images/planimetria.png"/></p>
            </div>

            <div class="lineDivider"></div>

            <p style="margin-bottom: 30px; text-align: center">
              Attenzione: il programma potrebbe subire variazioni, torna a consultare questa pagina nei prossimi giorni!
            </p>

            <table>
                <thead>
                <tr>
                    <th class="first" width="10%"></th>
                    <th width="18%">Base</th>
                    <th width="18%">Medium</th>
                    <th width="18%">Advanced</th>
                    <th width="18%">Sikurezza</th>
                    <th width="18%">Cloud</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="first">14:00</td>
                    <td>Primi Passi con Linux</td>
                    <td>Fotografia Digitale</td>
                    <td></td>
                    <td>MITM e webapp</td>
                    <td>Privacy ed Anonimato su Internet</td>

                </tr>
                <tr>
                    <td class="first">15:00</td>
                    <td>Installiamo insieme Debian</td>
                    <td>Il Terminale per Tutti</td>
                    <td>Asterisk: centralino VoIP FLOSS</td>
                    <td>Quando il nuovo rende insicure le VPN</td>
                    <td>MeteorJS & webapp in Realtime</td>
                </tr>
                <tr>
                    <td class="first">16:00</td>
                    <td>Come &egrave; strutturato un Sistema GNU/Linux</td>
                    <td>Arduino Y&uacute;n</td>
                    <td>Zabbix: Monitoring is Possible</td>
                    <td>Mifare Ultralight: Istruzioni per l'Uso</td>
                    <td>I Database non Relazionali</td>
                </tr>
                <tr>
                    <td class="first">17:00</td>
                    <td>Corsi Online per Insegnanti</td>
                    <td>"Quante ne sai?"</td>
                    <td>Fastboot in Sistemi Embedded</td>
                    <td>Penetration Test con Kali Linux</td>
                    <td>Plone CMS &amp; Ploomcake</td>
                </tr>
                </tbody>
            </table>

            <p style="margin-top: 30px; text-align: center">
              Per i dettagli della GDG DevFest, consulta <a href="http://gdgtorino.it/">il sito del Google Developers Group Torino</a>.
            </p>

            <div class="lineDivider"></div>

            {% jsonball talks from file talks.json %}
            {% for talk in talks %}
            <div id="{{ talk.id }}" class="event-wraper">
                <h3 class="event-date">&nbsp;</h3>
                <h2 class="event-title">{{ talk.title }}</h2>
                <span class="small event-place">{{ talk.where }}</span>
                {% for speaker in talk.speakers %}
                <span class="small event-speaker">{{ speaker.who }}</span>
                <span class="userIcons">
                    {% if speaker.web != null %}
                    <a class="topWeb" href="{{ speaker.web }}"></a>
                    {% endif %}
                    {% if speaker.email != null %}
                    <a class="topMail" href="mailto:{{ speaker.email }}"></a>
                    {% endif %}
                    {% if speaker.twitter != null %}
                    <a class="topTwitter" href="http://twitter.com/{{ speaker.twitter }}"></a>
                    {% endif %}
                </span>
                {% endfor %}
                <p>{{ talk.abstract }}</p>
            </div><!-- .event-wraper -->
            {% endfor %}

        </div><!-- .container-box-inner -->
        </div><!-- .container-box -->
        <div class="box-bottom bottom-full"></div>
        </div><!-- .twelve -->

	</div><!-- container -->
