<div id="counter-container" class="twelve columns container-box">
    <div class="seven columns alpha">
        <div class="container-box-inner em-large">
            <p>23 speaker per 20 talk, semplici e avanzati. Quest'anno siamo al Poli!</p>
        </div>
    </div>
    <div class="five columns omega">
        <div class="container-box-inner">
            <div class="counter">
            </div><!-- #counter -->
            <div class="buy-tickets">
                <a href="schedule.html">26 Ottobre 2013</a>
            </div>
        </div>
    </div>
</div><!-- .twelve -->
<div class="clear"></div>
<div class="box-bottom bottom-full"></div>
